.wrapper {
    max-width: 390px;
    margin: auto;
}

.wrapper .task {
    margin-bottom: 32px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-radius: 25px;
    box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, 0.05);
}

.wrapper .task::before {
    display: none;
}

.task_item {
    justify-content: space-between;
    position: relative;
    padding: 5px 0;
}

.task_item::before {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 40px;
    border-radius: 3px;
}

.task_item.first::before  {
    background-color: #FF0000;
}

.task_item.second::before {
    background-color: #366EFF;
}

.task_item.third::before {
    background-color: #FFEB33;
}

.task_wrapper {
    margin-left: 15px;
}

.task_title,
.task_text {
    display: block;
}

.done {
    text-decoration: line-through;
}

.task_title span,
.day_title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #f4f4f4;
}

.day_title div {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 10px 0;
}

.day_title {
    position: relative;
}

.day_name {
    margin-left: 15px;
}

.day_title div::before {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 40px;
    border-radius: 3px;
    background-color: grey;
}

.task_text span {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.6);
}

.list {
    padding: 0;
}

